
/* Основной черный */
$black: #1C2127;
/* Белый */
$white:#ffffff;
/* Основной голубой */
$blue: #78B1EA;
/* Голубой для кнопок в темной теме*/
$light-blue: #ACCFF1;
/* Голубой для кнопок в темной теме при наведении*/
$light-blue-hover: #D1DEEA;
/* Синий для кнопок в светлой теме*/
$dark-blue: #1C548D;
/* Синий для кнопок в светлой теме при наведении*/
$dark-blue-hover: #163B61;
/* Красный для не валидных инпутов*/
$red: #E80606;
/* Зеленый для валидных инпутов*/
$green: #215927;
/* Серый */
$gray: #808080;
/* Максимальная ширина */
$maxWidth-medium: 1024px;
$maxWidth-min: 425px;