@font-face {
    font-family: 'Playfair Display Regular';
    src: url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Regular.eot');
    src: url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Regular.woff') format('woff'),
    url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display Bold';
    src: url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Bold.eot');
    src: url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff'),
    url('/storage/app/public/fonts/playfair-display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
