@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}
  
@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Medium.ttf");
}
  
@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Light.ttf");
}
  
@font-face {
    font-family: "Playfair";
    src: url("./PlayfairDisplay-Medium.ttf");
}