@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay-Medium.ttf");
}